body {
    background: BlanchedAlmond;
    font-family: Arial;
}
h1 {
    color: rgb(70, 80, 90);
    text-align: center;
}
div.about {
    font-family: Helvetica;
}
div.skills {
    font-family: sans-serif;
}

