body {
    background: BlanchedAlmond;
    font-family: Helvetica;
    font-family: Arial, helvetica, sans-serif;
}
h1 {
    color: rgb(70, 80, 90);
    text-align: center;
}
h2 {
    color: brown;
}
div.about {
    font-family: Helvetica;
}
div.skills {
    font-family: sans-serif;
}
.project img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px;
    display: block;
    box-align: center;
}
a {
    text-decoration: none;
    box-align: center;
}
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
box-align: center;
}

