body {
    background: BlanchedAlmond;
<<<<<<< HEAD
    font-family: Helvetica;
=======
    font-family: Arial, helvetica, sans-serif;
>>>>>>> 59578a772bfdbd9424584bad46bf85ef232b3462
}
h1 {
    color: rgb(70, 80, 90);
    text-align: center;
}
h2 {
    color: brown;
}
div.about {
    font-family: Helvetica;
}
div.skills {
    font-family: sans-serif;
}
.project img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px;
    display: block;
}
a {
    text-decoration: none;
}

