body {
    background: BlanchedAlmond;
    font-family: Arial, helvetica, sans-serif;
}
h1 {
    color: rgb(70, 80, 90);
    text-align: center;
}
h2 {
    color: brown;
}
div.about {
    font-family: Helvetica;
    color: red;
}
div.skills {
    font-family: sans-serif;
}

